# Naive Bayes

## Importing libraries:

In [1]:
# importing all necessary libraries:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Loading Dataset:

In [2]:
# loading dataset:

df = pd.read_csv('Social_Network_Ads.csv')
df

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [3]:
df.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [4]:
df.describe()

              Age  EstimatedSalary   Purchased
count  400.000000       400.000000  400.000000
mean    37.655000     69742.500000    0.357500
std     10.482877     34096.960282    0.479864
min     18.000000     15000.000000    0.000000
25%     29.750000     43000.000000    0.000000
50%     37.000000     70000.000000    0.000000
75%     46.000000     88000.000000    1.000000
max     60.000000    150000.000000    1.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              400 non-null    int64
 1   EstimatedSalary  400 non-null    int64
 2   Purchased        400 non-null    int64
dtypes: int64(3)
memory usage: 9.5 KB

## Data preparation:

In [6]:
x = df.drop('Purchased',axis=1)
y = df['Purchased']

In [7]:
x.head()

   Age  EstimatedSalary
0   19            19000
1   35            20000
2   26            43000
3   27            57000
4   19            76000

In [8]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

## Train Test Split:

In [28]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size=0.25,random_state=42)

## Feature Scaling:

In [27]:
from sklearn.preprocessing import StandardScaler
st = StandardScaler()

In [26]:
x_train = st.fit_transform(x_train)
x_test = st.transform(x_test)

## Train naive bayes model on training dataset:

In [29]:
from sklearn.naive_bayes import GaussianNB
classifier =  GaussianNB()
classifier.fit(x_train,y_train)

GaussianNB()

## Predict the model:

In [30]:
y_pred = classifier.predict(x_test)

## Confusion matrix:

In [32]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)
cm

array([[61,  2],
       [ 6, 31]], dtype=int64)

## Evaluate the model:

In [34]:
from sklearn.metrics import accuracy_score
acc = accuracy_score(y_test,y_pred)
acc

0.92