## Importing libraries:

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing Dataset:

In [3]:
df = pd.read_csv('Social_Network_Ads.csv')
df.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [48]:
df.columns

Index(['Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [49]:
x = df.drop('Purchased',axis=1)
y = df['Purchased']

In [50]:
x.head()

   Age  EstimatedSalary
0   19            19000
1   35            20000
2   26            43000
3   27            57000
4   19            76000

In [51]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

## Train Test Split:

In [52]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size=0.25,random_state=0)

## Feature Scaling:

In [54]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [55]:
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

## Training The Random Forest Classification Model on Training Set:

In [56]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 10, criterion= 'entropy', random_state=0)
classifier.fit(x_train,y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10, random_state=0)

## Predicting The Test Result:

In [57]:
y_pred = classifier.predict(x_test)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1], dtype=int64)

## Confusion Matrix:

In [58]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [59]:
cm = confusion_matrix(y_test,y_pred)
cm

array([[63,  5],
       [ 4, 28]], dtype=int64)

In [60]:
acc = accuracy_score(y_test,y_pred)
acc

0.91

## Bagging:

In [61]:
from sklearn.ensemble import BaggingClassifier
from sklearn import tree

In [62]:
model = BaggingClassifier(tree.DecisionTreeClassifier(random_state=-1))

In [63]:
model.fit(x_train,y_train)

BaggingClassifier(base_estimator=DecisionTreeClassifier(random_state=-1))

In [64]:
model.score(x_test,y_test)

0.93

## Adaptive Boosting:

In [65]:
from sklearn.ensemble import AdaBoostClassifier

In [43]:
model = AdaBoostClassifier(random_state=-1)

In [66]:
model.fit(x_train, y_train)

BaggingClassifier(base_estimator=DecisionTreeClassifier(random_state=-1))

In [67]:
model.score(x_test, y_test)

0.93